.comands {
  background: var(--button-color);
  margin-top: 0px;
  // border: solid teal 1px;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__list {
    gap: 30px;

    // @media screen and (min-width: 480px) {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // }

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33 / 28);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--icon-text);
    margin-top: 0px;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: calc(42 / 36);
      margin-bottom: 50px;
    }
  }

  &__item {
    background: var(--color-text);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    /*gap: 30px;*/

    // @media screen and (min-width: 480px) {
    //   flex-wrap: wrap;
    //   gap: 30px;
    //   justify-content: center;
    // }
    // @media screen and (min-width: 768px) {
    //   width: 354px;
    // }
    @media screen and (min-width: 1200px) {
      width: calc(100% / 4 - 30px);
      // width: 265px;
    }
  }

  &__img {
    display: block;
    height: auto;
    max-width: 100%;
    /*@media screen and (min-width: 480px) {
      flex-wrap: wrap;
      justify-content: center;
    }*/
  }
}

.dignity {
  padding-top: 30px;
  padding-bottom: 30px;

  &__text {
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--link-text);
    margin: 0;
    margin-bottom: 16px;
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--icon-text);
    margin: 0;
    margin-bottom: 10px;
  }
}
