.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transition: opacity 1400ms linear, visibility 1400ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--color-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  @include border-radius(4px);

  &-title {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--icon-text);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-btn {
    width: 30px;
    height: 30px;
    background-color: var(--color-text);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    @include border-radius(50%);
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #000000;

    outline: none;
  }

  &-container {
    padding: 40px;
  }
}

.modal-close {
  width: 30px;
  height: 30px;
  background-color: var(--color-text);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  @include border-radius(50%);
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icon-text);
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--logo-text);
    border-color: var(--logo-text);
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.container-label {
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  @include border-radius(4px);
  padding: 11px 42px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    border: 1px solid var(--logo-text);
    box-sizing: border-box;
    @include border-radius(4px);
  }

  &:focus + .form-icon,
  &:hover + .form-icon {
    color: var(--logo-text);
  }

  &.textarea {
    height: 120px;
    padding: 12px 16px;
    resize: none;

    font-weight: normal;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--main-txt-сl);
  }
}

textarea[placeholder='Введіть текст'] {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--icon-text);
}

.for-position-icon {
  position: relative;
}

.form-icon {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 11px;
  color: var(--icon-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  transform: translateY(-50%);
}

.checkbox {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--icon-text);
}

.chekbox-item {
  background-origin: border-box;
  border: 2px solid var(--icon-text);
  border-radius: 2px;
  fill: var(--color-text);
  background-color: var(--color-text);
  margin-right: 8.38px;
}
.checkbox-input:checked + .chekbox-item {
  border-color: var(--logo-text);
  background-color: var(--logo-text);
  background-origin: border-box;
}
.chekbox-link:focus,
.chekbox-link:hover {
  border: 2px solid var(--logo-text);
  border-radius: 4px;
  border-color: var(--color-text);
}
.chekbox-icon {
  margin: 0;
  padding: 0;
  color: var(--link-text);
}
.chekbox-link {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--logo-text);
  text-decoration-line: underline;
  border-color: var(--logo-text);
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox > .checkbox-input {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.container-checkbox {
  margin-top: 20px;
}

.container-checkbox {
  margin-top: 20px;
}

.form-field > .checkbox {
  padding-left: 12px;
}

.form-button {
  background-color: var(--button-modal);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  @include border-radius(4px);
  border: 0;
  padding: 10px 55px;
  margin: 30px auto 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-text);
}
