.list-specialty {
    gap: 30px;
}

.specialty-item {
    width: 270px;
}

.pic {
    background-color: var(--button-color);
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    @include border-radius (4px);
}

.subject {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--icon-text);
    margin: 0;
    margin-bottom: 10px;
}

.text {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--link-text);
    margin: 0;
}