.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    // border: solid red 1px;
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    // border: solid red 1px;
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    // border: solid red 1px;
    max-width: 1200px;
  }
}
